html, body {
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    top: 0; 
    left: 0; 
    background: rgba(7, 24, 34, 1);
    color: #fff;
    height: 80px; 
    width: 100%;
    z-index: 1000; 
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__logo-name {
    display: flex;
    align-items: center;
}

.menu__logo-name img {
    height: 50px;
    margin-right: 10px;
}

.menu__name {
    font-size: 1.2em;
    font-weight: bold;
}

.menu__links {
    display: flex;
    height: 100%;
    transition: transform .5s;
    font-weight: bold;
}

.menu__item {
    list-style: none;
    height: 100%;
    position: relative;
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative; 
    transition: background-color 0.3s, color 0.3s;
}

.menu__icon {
    margin-right: 10px; 
}

.menu__link:hover {
    color: #007BFF; 
}

.menu__link::before {
    display: none; 
}

.menu__hamburguer {
    display: none;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
}

.menu__hamburguer i {
    font-size: 24px;
}

@media (max-width: 840px) {
    .menu__hamburguer {
        display: flex;
    }

    .menu__links {
        position: absolute;
        width: 100%; 
        height: 0; 
        top: 80px;
        left: 0;
        background: rgba(7, 24, 34, 0.8); 
        backdrop-filter: blur(10px); 
        overflow: hidden; 
        display: grid;
        grid-auto-rows: max-content;
        opacity: 0; 
        z-index: 999;
        margin: 0; 
        padding: 0; 
    }

    .menu__links--show {
        height: auto;
        max-height: 500px;
        opacity: 1; 
    }

    .menu__item {
        width: 100%;
        height: auto;
        padding: 15px 0;
        margin: 0; 
    }

    .menu__link {
        border-bottom: none;
        padding: 0 20px;
        text-align: left;
        margin: 0; 
    }

    ul.menu__links {
        list-style: none; 
        padding: 0; 
        margin: 0; 
    }
}
